* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.container {
    box-sizing: content-box;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

 /* .square {
    background-color: yellow;
    border: 0.5px solid blue;
} */